{{- if .Values.monitoring.grafana }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.grafana.component }}-secret"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.grafana.component }}
type: Opaque
stringData:
  {{- if .Values.grafana.admin}}
  GRAFANA_ADMIN_PASSWORD: {{ .Values.grafana.admin.password | default "pulsar" }}
  GRAFANA_ADMIN_USER: {{ .Values.grafana.admin.user | default "pulsar" }}
  {{- end }}
{{- end }}
