ingress:
  broker:
    enabled: true
    # set the domain name for broker
    external_domain: "httpbin.example.com"
  control_center:
    enabled: true
    # set the domain name for Console and Grafana
    external_domain: "console-httpbin.example.com"
    external_domain_scheme: "https://"

istio:
  enabled: true
  gateway:
    tls:
      # use the tls secret created in istio-system namespace
      certSecretName: "example-credential"
