#
# Copyright (c) 2019 - 2024 StreamNative, Inc.. All Rights Reserved.
#

images:
  zookeeper:
    tag: "3.0.0.4"
  bookie:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"
  autorecovery:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"
  broker:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"
  proxy:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"
  pulsar_detector:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"
    pullPolicy: IfNotPresent
  functions:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"
  function_worker:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"
  toolset:
    repository: streamnative/sn-platform
    tag: "3.0.0.4"

zookeeper:
  jvm:
    gcOptions:
    - >
      -XX:+UseG1GC
      -XX:MaxGCPauseMillis=10
      -Dcom.sun.management.jmxremote
      -Djute.maxbuffer=10485760
      -XX:+ParallelRefProcEnabled
      -XX:+UnlockExperimentalVMOptions
      -XX:+DoEscapeAnalysis
      -XX:+DisableExplicitGC
      -XX:+PerfDisableSharedMem

bookkeeper:
  configData: {}
    # For Pulsar 3.0, please do not enable Direct IO. Needs a fix https://github.com/apache/bookkeeper/pull/4041
    # PULSAR_PREFIX_dbStorage_directIOEntryLogger: "false"
  jvm:
    gcOptions:
    - >
      -XX:+UseG1GC
      -XX:MaxGCPauseMillis=10
      -XX:+ParallelRefProcEnabled
      -XX:+UnlockExperimentalVMOptions
      -XX:+DoEscapeAnalysis
      -XX:ParallelGCThreads=4
      -XX:ConcGCThreads=4
      -XX:G1NewSizePercent=50
      -XX:+DisableExplicitGC
      -XX:-ResizePLAB
      -XX:+ExitOnOutOfMemoryError
      -XX:+PerfDisableSharedMem
      -verbosegc

broker:
  configData:
    managedLedgerDefaultEnsembleSize: "2"
    managedLedgerDefaultWriteQuorum: "2"
    managedLedgerDefaultAckQuorum: "2"
    PULSAR_PREFIX_systemTopicEnabled: "true"
    PULSAR_PREFIX_topicLevelPoliciesEnabled: "true"
    # Enable the new Load Balancer, please make sure your cluster is already on Pulsar 3.0 then to use.
    # Mix of new and previous Load Balancer in the same cluster will lead to unexpected problems.
    # loadManagerClassName: "org.apache.pulsar.broker.loadbalance.extensions.ExtensibleLoadManagerImpl"
    # loadBalancerLoadSheddingStrategy: "org.apache.pulsar.broker.loadbalance.extensions.scheduler.TransferShedder"
    
    # Enable the new delayed message
    delayedDeliveryTrackerFactoryClassName: "org.apache.pulsar.broker.delayed.BucketDelayedDeliveryTrackerFactory"
    # Enable transaction buffer segmented snapshot
    transactionBufferSegmentedSnapshotEnabled: "true"
  jvm:
    gcOptions:
      - >
        -XX:+UseG1GC
        -XX:MaxGCPauseMillis=10
        -Dio.netty.leakDetectionLevel=disabled
        -Dio.netty.recycler.linkCapacity=1024
        -XX:+ParallelRefProcEnabled
        -XX:+UnlockExperimentalVMOptions
        -XX:+DoEscapeAnalysis
        -XX:ParallelGCThreads=4
        -XX:ConcGCThreads=4
        -XX:G1NewSizePercent=50
        -XX:+DisableExplicitGC
        -XX:-ResizePLAB
        -XX:+ExitOnOutOfMemoryError
        -XX:+PerfDisableSharedMem

proxy:
  jvm:
    gcOptions:
    - >
      -XX:+UseG1GC
      -XX:MaxGCPauseMillis=10
      -Dio.netty.leakDetectionLevel=disabled
      -Dio.netty.recycler.linkCapacity=1024
      -XX:+ParallelRefProcEnabled
      -XX:+UnlockExperimentalVMOptions
      -XX:+DoEscapeAnalysis
      -XX:ParallelGCThreads=4
      -XX:ConcGCThreads=4
      -XX:G1NewSizePercent=50
      -XX:+DisableExplicitGC
      -XX:-ResizePLAB
      -XX:+ExitOnOutOfMemoryError
      -XX:+PerfDisableSharedMem