components:
  vault: false

auth:
  authentication:
    enabled: true
    provider: "jwt"
    jwt:
      enabled: true
      usingSecretKey: false
  vault:
    enabled: false

streamnative_console:
  configData:
    INIT_DEFAULT_ENVIRONMENT: true
    BACKEND_DEFAULT_SUPER_USER_ROLE: "pulsar-manager-admin"
  login:
      pulsarJwt:
        enabled: true
        config:
          AUTHENTICATION_CUSTOM_CLAIM: sub
          SERVICE_ACCOUNT_SUPER_TOKEN_SECRET: "<release-name>-token--admin"
          JWT_BROKER_TOKEN_MODE: PRIVATE
          JWT_BROKER_PUBLIC_PRIVATE_KEY: "<release-name>-token-asymmetric-key"