{{- if and .Values.monitoring.prometheus .Values.istio.enabled }}
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.prometheus.component }}"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  rules:
  - from:
    - source:
        namespaces:
        - {{ template "pulsar.namespace" . }}
  - to:
    - operation:
        ports:
        - "{{ .Values.prometheus.port }}"
  action: ALLOW
  selector:
    matchLabels:
      app: {{ template "pulsar.name" . }}
      release: {{ .Release.Name }}
      component: {{ .Values.prometheus.component }}
{{- end }}