{{- if and .Values.rbac.enable .Values.prometheus.serviceAccount.create }}
{{- if .Values.prometheus.serviceAccount.clusterRole }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.rbac.roleName }}"
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources:
  - nodes
  - nodes/proxy
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]
- apiGroups: [""]
  resources:
    - namespaces
    - persistentvolumes
    - persistentvolumeclaims
  verbs:
    - list
    - watch
    - get
    - create
- apiGroups: ["", "extensions", "apps"]
  resources:
    - pods
    - deployments
    - ingresses
    - secrets
    - statefulsets
  verbs:
    - list
    - watch
    - get
    - update
    - create
    - delete
    - patch
- apiGroups: [""]
  resources:
    - replicasets
  verbs:
    - list
    - watch
    - get
- apiGroups: [""]
  resources:
    - events
  verbs:
    - list
    - watch
    - get
- apiGroups:
    - "rbac.authorization.k8s.io"
  resources:
    - clusterrolebindings
    - clusterroles
  verbs:
    - "*"
---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "pulsar.prometheus.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}
---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.rbac.roleBindingName }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.rbac.roleName }}"
subjects:
- kind: ServiceAccount
  name: {{ template "pulsar.prometheus.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}

{{- else }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.rbac.roleName }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources:
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- apiGroups: ["", "extensions", "apps"]
  resources:
    - pods
    - deployments
    - ingresses
    - secrets
    - statefulsets
  verbs:
    - list
    - watch
    - get
    - update
    - create
    - delete
    - patch
- apiGroups: [""]
  resources:
    - replicasets
  verbs:
    - list
    - watch
    - get
- apiGroups: [""]
  resources:
    - events
  verbs:
    - list
    - watch
    - get
---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "pulsar.prometheus.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}
---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.rbac.roleBindingName }}"
  namespace: {{ template "pulsar.namespace" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.rbac.roleName }}"
subjects:
- kind: ServiceAccount
  name: {{ template "pulsar.prometheus.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}
{{- end }}
{{- end }}
