{{- if and .Values.openshift.enabled .Values.openshift.scc.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "pulsar.openshift.role" . }}
  namespace: {{ include "pulsar.namespace" . }}
rules:
  - verbs:
      - use
    apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    resourceNames:
      - {{ include "pulsar.openshift.scc" . }}
{{- end -}}