#
# Copyright (c) 2019 - 2024 StreamNative, Inc.. All Rights Reserved.
#
# deploy BookKeeperCluster only when `components.bookkeeper and operator.enabled` is true
{{- if .Values.components.bookkeeper }}
apiVersion: bookkeeper.streamnative.io/v1alpha1
kind: BookKeeperCluster
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}"
  namespace: {{ template "pulsar.namespace" . }}
  annotations:
    "cloud.streamnative.io/enable-config-prefix": "false"
    {{- with .Values.bookkeeper.bookKeeperCluster.annotations -}}
    {{ toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.bookkeeper.component }}
{{- with .Values.bookkeeper.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
{{- with .Values.bookkeeper.bookKeeperCluster.labels -}}
{{ toYaml . | nindent 4 }}
{{- end }}
{{- if .Values.components.pulsar_coordinator }}
    k8s.streamnative.io/coordinator-name: "{{ template "pulsar.fullname" . }}-coordinator"
{{- end }}
spec:
{{- if not .Values.initialize }}
  initialized: true
{{- end }}
  zkServers: "{{ template "pulsar.zookeeper.connect" . }}"
  replicas: {{ .Values.bookkeeper.replicaCount }}
  image: "{{ .Values.images.bookie.repository }}:{{ .Values.images.bookie.tag }}"
  imagePullPolicy: {{ .Values.images.bookie.pullPolicy }}
{{- if .Values.bookkeeper.autoScaling.enabled }}
  autoScalingPolicy:
    minReplicas: {{ .Values.bookkeeper.autoScaling.minReplicas }}
    maxReplicas: {{ .Values.bookkeeper.autoScaling.maxReplicas }}
{{- if .Values.bookkeeper.autoScaling.metrics }}
    metrics:
{{- with .Values.bookkeeper.autoScaling.metrics }}
{{ toYaml . | indent 4 }}
{{- end }}
{{- end }}
{{- end }}
  logConfig:
    level: {{ .Values.bookkeeper.logConfig.level }}
    format: {{ .Values.bookkeeper.logConfig.format }}
    {{- with .Values.bookkeeper.logConfig.template }}
    template: |
    {{- toYaml . | nindent 6 -}}
    {{- end }}
  pod:
    {{- with .Values.bookkeeper.topologySpreadConstraints }}
    topologySpreadConstraints:
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if .Values.bookkeeper.minReadySeconds }}
    minReadySeconds: {{ .Values.bookkeeper.minReadySeconds }}
    {{- end }}
    {{- if .Values.bookkeeper.serviceAccount.use }}
    serviceAccountName: {{ template "pulsar.bookkeeper.serviceAccount" . }}
    {{- end }}
    labels:
      {{- include "pulsar.template.labels" . | nindent 6 }}
      component: {{ .Values.bookkeeper.component }}
{{- with .Values.bookkeeper.labels }}
{{ toYaml . | indent 6 }}
{{- end }}
{{- if or .Values.monitoring.datadog (and .Values.prometheus.scrape.bookkeeper .Values.prometheus.scrape.enabled) .Values.bookkeeper.annotations }}
    annotations:
      {{- if .Values.monitoring.datadog }}
      {{- include "pulsar.bookkeeper.datadog.annotation" . | nindent 6 }}
      {{- end }}
{{- if (and .Values.prometheus.scrape.bookkeeper .Values.prometheus.scrape.enabled) }}
      prometheus.io/scrape: "true"
      prometheus.io/port: "{{ .Values.bookkeeper.ports.http }}"
{{- end }}
      {{- include "pulsar.istio.pod.annotations" . | nindent 6 }}
{{- with .Values.bookkeeper.annotations }}
{{ toYaml . | indent 6 }}
{{- end }}
{{- end }}
    affinity:
      {{- include "pulsar.antiAffinityRules" (dict "Values" .Values "thisAffinity" .Values.bookkeeper.affinity "Component" .Values.bookkeeper.component "Release" .Release "Chart" .Chart) | indent 6 }}
    {{- if .Values.bookkeeper.resources }}
    resources:
{{ toYaml .Values.bookkeeper.resources | indent 6 }}
    {{- end }}
    {{- if .Values.bookkeeper.extraEnv }}
    vars:
{{ toYaml .Values.bookkeeper.extraEnv | indent 6 }}
    {{- end }}
    {{- with .Values.bookkeeper.securityContext }}
    securityContext:
{{ toYaml . | indent 6 }}
    {{- end }}
    {{- if .Values.bookkeeper.nodeSelector }}
    nodeSelector:
{{ toYaml .Values.bookkeeper.nodeSelector | indent 6 }}
    {{- end }}
    {{- if .Values.bookkeeper.tolerations }}
    tolerations:
{{ toYaml .Values.bookkeeper.tolerations | indent 6 }}
    {{- end }}
    terminationGracePeriodSeconds: {{ .Values.bookkeeper.gracePeriod }}
    {{- include "pulsar.jvm.options" .Values.bookkeeper | nindent 4 }}
    {{- if .Values.global.imagePullSecrets }}
    imagePullSecrets:
{{ toYaml .Values.global.imagePullSecrets | indent 6 }}
    {{- end }}
    {{- if .Values.bookkeeper.operator.adopt_existing }}
    volumes:
    {{- if not (and .Values.volumes.persistence .Values.bookkeeper.volumes.persistence) }}
    - name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookkeeper.volumes.journal.name }}"
      emptyDir: {}
    - name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookkeeper.volumes.ledgers.name }}"
      emptyDir: {}
    {{- end }}
    {{- include "pulsar.bookkeeper.certs.volumes" . | nindent 4 }}
    {{- end }}
    {{- if and (not .Values.bookkeeper.operator.adopt_existing) .Values.tls.bookie.enabled }}
    volumes:
    {{- include "pulsar.bookkeeper.certs.volumes" . | nindent 4 }}
    {{- end }}
  {{- if and .Values.volumes.persistence .Values.bookkeeper.volumes.persistence}}
  storage:
    journal:
      numVolumes: {{ .Values.bookkeeper.volumes.journal.numVolumes | default 1 }}
      numDirsPerVolume: {{ .Values.bookkeeper.volumes.journal.numDirsPerVolume | default 1 }}
      {{- if .Values.bookkeeper.volumes.journal.metadata }}
      metadata:
        {{- if .Values.bookkeeper.volumes.journal.metadata.annotations }}
        annotations:
{{ toYaml .Values.bookkeeper.volumes.journal.metadata.annotations | indent 10 }}
        {{- end }}
        {{- if .Values.bookkeeper.volumes.journal.metadata.labels }}
        labels:
{{ toYaml .Values.bookkeeper.volumes.journal.metadata.labels | indent 10 }}
        {{- end }}
      {{- end }}
      volumeClaimTemplate:
        accessModes:
        {{- range .Values.bookkeeper.volumes.journal.accessModes }}
          - {{ . | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.bookkeeper.volumes.journal.size }}
        {{- include "pulsar.bookkeeper.journal.storage.class" . | nindent 8 }}
    ledger:
      numVolumes: {{ .Values.bookkeeper.volumes.ledgers.numVolumes | default 1 }}
      numDirsPerVolume: {{ .Values.bookkeeper.volumes.ledgers.numDirsPerVolume | default 1 }}
      {{- if .Values.bookkeeper.volumes.ledgers.metadata }}
      metadata:
        {{- if .Values.bookkeeper.volumes.ledgers.metadata.annotations }}
        annotations:
{{ toYaml .Values.bookkeeper.volumes.ledgers.metadata.annotations | indent 10 }}
        {{- end }}
        {{- if .Values.bookkeeper.volumes.ledgers.metadata.labels }}
        labels:
{{ toYaml .Values.bookkeeper.volumes.ledgers.metadata.labels | indent 10 }}
        {{- end }}
      {{- end }}
      volumeClaimTemplate:
        accessModes:
        {{- range .Values.bookkeeper.volumes.journal.accessModes }}
          - {{ . | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.bookkeeper.volumes.ledgers.size }}
        {{- include "pulsar.bookkeeper.ledgers.storage.class" . | nindent 8 }}
    reclaimPolicy: {{ .Values.bookkeeper.volumes.reclaimPolicy | default "Delete" }}
  {{- end }}
  config:
    {{- with .Values.bookkeeper.rackAwareTopologyLabels }}
    rackAwareTopologyLabels:
    {{- toYaml . | nindent 4 }}
    {{- end }}
    custom:
{{- with .Values.bookkeeper.custom }}
{{ toYaml . | indent 6 }}
{{- end }}
{{- with .Values.bookkeeper.configData }}
{{ toYaml . | indent 6 }}
{{- end }}
      zkLedgersRootPath: "{{ .Values.metadataPrefix }}/ledgers"
      # enable bookkeeper http server
      httpServerEnabled: "true"
      httpServerPort: "{{ .Values.bookkeeper.ports.http }}"
      # config the stats provider
      statsProviderClass: org.apache.bookkeeper.stats.prometheus.PrometheusMetricsProvider
      # use hostname as the bookie id
      useHostNameAsBookieID: "true"
      {{- if .Values.components.autorecovery }}
      # disable auto recovery on bookies since we will start AutoRecovery in separated pods
      autoRecoveryDaemonEnabled: "false"
      {{- end }}
      # Do not retain journal files as it increase the disk utilization
      journalMaxBackups: "0"
      {{- if .Values.bookkeeper.operator.adopt_existing }}
      # if adopting existing bk cluster then also keep existing ledger/journal dir setting
      journalDirectories: "/pulsar/data/bookkeeper/journal"
      PULSAR_PREFIX_journalDirectories: "/pulsar/data/bookkeeper/journal"
      ledgerDirectories: "/pulsar/data/bookkeeper/ledgers"
      PULSAR_PREFIX_ledgerDirectories: "/pulsar/data/bookkeeper/ledgers"
      {{- end }}
{{- include "pulsar.bookkeeper.config.tls" . | nindent 6 }}
  autoRecovery:
    {{- if .Values.components.autorecovery }}
    replicas: {{ .Values.autorecovery.replicaCount }}
    {{- else }}
    replicas: 0
    {{- end }}
    pod:
      labels:
        {{- include "pulsar.template.labels" . | nindent 8 }}
        component: {{ .Values.autorecovery.component }}
{{- with .Values.autorecovery.labels }}
{{ toYaml . | indent 8 }}
{{- end }}
{{- if or (and .Values.prometheus.scrape.autorecovery .Values.prometheus.scrape.enabled) .Values.autorecovery.annotations }}
      annotations:
         {{- if and .Values.prometheus.scrape.autorecovery .Values.prometheus.scrape.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.autorecovery.ports.http }}"
        {{- end }}
        {{- if .Values.monitoring.datadog }}
        {{- include "pulsar.autorecovery.datadog.annotation" . | nindent 8 }}
        {{- end }}
        {{- include "pulsar.istio.pod.annotations" . | nindent 8 }}
{{- with .Values.autorecovery.annotations }}
{{ toYaml . | indent 8 }}
{{- end }}
{{- end }}
      {{- with .Values.autorecovery.securityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- if .Values.autorecovery.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.autorecovery.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.autorecovery.tolerations }}
      tolerations:
{{ toYaml .Values.autorecovery.tolerations | indent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.autorecovery.gracePeriod }}
      affinity:
        {{- include "pulsar.antiAffinityRules" (dict "Values" .Values "thisAffinity" .Values.autorecovery.affinity "Component" .Values.autorecovery.component "Release" .Release "Chart" .Chart) | indent 8 }}
      {{- if .Values.autorecovery.resources }}
      resources:
{{ toYaml .Values.autorecovery.resources | indent 8 }}
      {{- end }}
      {{- if .Values.autorecovery.extraEnv }}
      vars:
{{ toYaml .Values.autorecovery.extraEnv | indent 8 }}
      {{- end }}
      {{- if .Values.bookkeeper.serviceAccount.use }}
      serviceAccountName: {{ template "pulsar.bookkeeper.serviceAccount" . }}
      {{- end }}
      {{- include "pulsar.jvm.options" .Values.autorecovery | nindent 6 }}
    conf:
      {{- include "pulsar.bookkeeper.config.common" . | nindent 6 }}
{{- with .Values.autorecovery.configData }}
{{ toYaml . | indent 6 }}
{{- end }}
  apiObjects:
    clientService: {}
    headlessService:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}"
    autoRecoveryHeadlessService:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.autorecovery.component }}"
    bookieStatefulSet:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}"
      updatePolicy:
      {{- if .Values.bookkeeper.operator.adopt_existing }}
      {{ .Values.bookkeeper.operator.updatePolicy }}
      {{- else }}
        - all
      {{- end }}
      {{- if .Values.bookkeeper.operator.adopt_existing }}
      {{- if and .Values.volumes.persistence .Values.bookkeeper.volumes.persistence}}
      volumeClaimTemplates:
      - metadata:
          name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookkeeper.volumes.journal.name }}"
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: {{ .Values.bookkeeper.volumes.journal.size }}
          {{- include "pulsar.bookkeeper.journal.storage.class" . | nindent 10 }}
      - metadata:
          name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookkeeper.volumes.ledgers.name }}"
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: {{ .Values.bookkeeper.volumes.ledgers.size }}
          {{- include "pulsar.bookkeeper.ledgers.storage.class" . | nindent 10 }}
      {{- end }}
      volumeMounts:
      - name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookkeeper.volumes.journal.name }}"
        mountPath: /pulsar/data/bookkeeper/journal
      - name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookkeeper.volumes.ledgers.name }}"
        mountPath: /pulsar/data/bookkeeper/ledgers
      {{- include "pulsar.bookkeeper.certs.volumeMounts" . | nindent 6 }}
      {{- end }}
      {{- if and (not .Values.bookkeeper.operator.adopt_existing) .Values.tls.bookie.enabled }}
      volumeMounts:
      {{- include "pulsar.bookkeeper.certs.volumeMounts" . | nindent 6 }}
      {{- end }}
    autoRecoveryStatefulSet:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.autorecovery.component }}"
      updatePolicy:
      {{- if .Values.autorecovery.operator.adopt_existing }}
      {{ .Values.autorecovery.operator.updatePolicy }}
      {{- else }}
        - all
      {{- end }}
    configMap:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}"
    autoRecoveryConfigMap:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.autorecovery.component }}"
    pdb:
      {{- if not .Values.bookkeeper.pdb.autoCreate }}
      managed: {{ .Values.bookkeeper.pdb.autoCreate }}
      {{- end }}
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}"
  customization:
  {{- with .Values.bookkeeper.customization }}
  {{- toYaml . | nindent 2 -}}
  {{- end }}
  {{- if .Values.zookeeper.customTools.restore.enable}}
    - match:
        groupVersionKinds:
          - kind: Job
        name: .*-bk-init
      manifest: |
        spec:
          template:
            spec:
              initContainers:
              - name: pulsar-metadata-cleanup
                image: "{{ .Values.images.zookeeper.customTools.restore.repository }}:{{ .Values.images.zookeeper.customTools.restore.tag }}"
                command: ["sh", "-c"]
                args:
                  - >
                    {{- include "pulsar.toolset.zookeeper.tls.settings" . | nindent 12 }}
                    {{ if and .Values.tls.enabled .Values.tls.zookeeper.enabled }}
                    export "$(cat conf/pulsar_env.sh | xargs)";
                    export OPTS="${PULSAR_EXTRA_OPTS} ${EXTRA_OPTS}";
                    env;
                    {{- end }}
                    bin/pulsar-metadata-tool cleanup
                env:
                - name: METADATA_TOOL_CONF
                  value: "/pulsar-metadata-tool/conf/pulsar-metadata-tool/pulsar-metadata-tool.properties"
                - name: EXTRA_OPTS
                  value: {{ .Values.zookeeper.customTools.restore.configData.OPTS }}
                volumeMounts:
                  - name: cleanup-config
                    mountPath: /pulsar-metadata-tool/conf/pulsar-metadata-tool
              volumes:
                - name: cleanup-config
                  configMap:
                    name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}"
  {{- end }}
{{- end }}
