{{- if .Values.initialize }}
{{- if and .Values.components.vault .Values.auth.vault.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    helm.sh/hook: pre-delete
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: hook-succeeded
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.vault.component }}-clear-resource"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
spec:
  template:
    metadata:
      labels:
        {{- include "pulsar.template.labels" . | nindent 8 }}
{{- if .Values.vault.labels }}    
{{ toYaml .Values.vault.labels | indent 8 }}
{{- end }}
      annotations:
{{- if .Values.vault.annotations }}    
{{ toYaml .Values.vault.annotations | indent 8 }}
{{- end }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets: {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "pulsar.vault.serviceAccount" . }}
      containers:
      - name: "{{ template "pulsar.fullname" . }}-{{ .Values.vault.component }}-init"
        image: "{{ .Values.images.vault_init.repository }}:{{ .Values.images.vault_init.tag }}"
        imagePullPolicy: {{ .Values.images.vault.pullPolicy }}
        command: ["sh", "-c"]
        args:
          - >
           kubectl delete secret {{ template "pulsar.vault-secret-key-name" . }} --ignore-not-found=true -n {{ template "pulsar.namespace" . }} && kubectl delete secret {{ template "pulsar.console-secret-key-name" . }} --ignore-not-found=true -n {{ template "pulsar.namespace" . }};
           until [ $? -eq 0 ]; do
              echo "Clear vault resource not ready now, wait another 5s~";
              sleep 5;
              kubectl delete secret {{ template "pulsar.vault-secret-key-name" . }} --ignore-not-found=true -n {{ template "pulsar.namespace" . }} && kubectl delete secret {{ template "pulsar.console-secret-key-name" . }} --ignore-not-found=true -n {{ template "pulsar.namespace" . }};
           done;
           echo "Clear vault resource is ready~";
           echo -ne "POST /quitquitquit HTTP/1.1\r\nHost: 127.0.0.1:15020\r\nUser-Agent: curl/7.68.0\r\nAccept: */*\r\n\r\n"|nc 127.0.0.1:15020 || true;
        env:
        - name: NAMESPACE
          value: {{ template "pulsar.namespace" . }}
        {{- if .Values.vault.resources }}
        resources: {{- toYaml .Values.vault.resources | nindent 10  }}
        {{- end }}
      restartPolicy: Never
      {{- if .Values.vault.securityContext }}
      securityContext: {{- toYaml .Values.vault.securityContext | nindent 8 }}
      {{- end }}
{{- end }}
{{- end }}