{{- if .Values.ingress.controller.enabled }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ template "pulsar.fullname" . }}-nginx-configuration"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.ingress.controller.component }}
data:
  use-forwarded-headers: "true"

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ template "pulsar.fullname" . }}-tcp-services"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.ingress.controller.component }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ template "pulsar.fullname" . }}-udp-services"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.ingress.controller.component }}

{{- end }}
