{{- if .Values.vault.initialize }}
{{- if and .Values.broker.auth.authentication.enabled .Values.broker.auth.authentication.vault.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ template "sn_console.fullname" . }}-vault-init-configmap"
  namespace: {{ template "sn_console.namespace" . }}
  labels:
    {{- include "sn_console.standardLabels" . | nindent 4 }}
    component: vault-init 
data:
{{ (.Files.Glob "conf/vault/*").AsConfig | indent 2 }}
{{- end }}
{{- end }}
