{{- if .Values.vault.initialize }}
{{- if and .Values.vault.clear_resource .Values.login.vault.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    helm.sh/hook: pre-delete
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: hook-succeeded
  name: "{{ template "sn_console.fullname" . }}-vault-clear-resource"
  namespace: {{ template "sn_console.namespace" . }}
  labels:
    {{- include "sn_console.standardLabels" . | nindent 4 }}
spec:
  template:
    spec:
      serviceAccountName: {{ template "sn_console.vault.serviceAccount" . }}
      containers:
      - name: "{{ template "sn_console.fullname" . }}-vault-clear-resource"
        image: "{{ .Values.vault.images.vault_init.repository }}:{{ .Values.vault.images.vault_init.tag }}"
        imagePullPolicy: {{ .Values.vault.images.vault_init.pullPolicy }}
        command: ["sh", "-c"]
        args:
          - >
           kubectl delete secret {{ template "streamnative_console.vault-secret-key-name" . }} --ignore-not-found=true -n {{ template "sn_console.namespace" . }} && kubectl delete secret {{ template "streamnative_console.admin-passwd-secret" . }} --ignore-not-found=true -n {{ template "sn_console.namespace" . }} && kubectl delete secret {{ .Values.vault.toolsetTokenSecretRef }} --ignore-not-found=true -n {{ template "sn_console.namespace" . }};
           until [ $? -eq 0 ]; do
              echo "Clear vault resource not ready now, wait another 5s~";
              sleep 5;

              kubectl delete secret {{ template "streamnative_console.vault-secret-key-name" . }} --ignore-not-found=true -n {{ template "sn_console.namespace" . }} && kubectl delete secret {{ template "streamnative_console.admin-passwd-secret" . }} --ignore-not-found=true -n {{ template "sn_console.namespace" . }} && kubectl delete secret {{ .Values.vault.toolsetTokenSecretRef }} --ignore-not-found=true -n {{ template "sn_console.namespace" . }};
           done;
           echo "Clear vault resource is ready~";
        env:
        - name: NAMESPACE
          value: {{ template "sn_console.namespace" . }}
      restartPolicy: Never
{{- end }}
{{- end }}
