#
# Copyright (c) 2019 - 2024 StreamNative, Inc.. All Rights Reserved.
#

{{- if .Values.broker.serviceAccount.clusterRole }}
{{- if and .Values.components.broker .Values.broker.serviceAccount.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}-clusterrolebinding"
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}-clusterrole"
subjects:
- kind: ServiceAccount
  name: {{ template "pulsar.broker.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}
---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}-clusterrole"
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources:
  - configmap
  - configmaps
  verbs: ["get", "list", "watch"]
- apiGroups: ["", "extensions", "apps"]
  resources:
    - pods
    - services
    - deployments
    - secrets
    - statefulsets
  verbs:
    - list
    - watch
    - get
    - update
    - create
    - delete
    - patch
{{- if and .Values.components.functions .Values.broker.functionmesh.enabled}}
- apiGroups: ["compute.functionmesh.io"]
  resources:
    - backendconfigs
    - functionmeshes
    - functions
    - sources
    - sinks
  verbs:
    - list
    - watch
    - get
    - update
    - create
    - delete
    - patch
- apiGroups: ["k8s.streamnative.io"]
  resources:
    - 'connectorcatalogs'
  verbs:
    - get
    - list
    - watch
{{- end }}
---

{{- end }}
{{- end }}
