#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
{{- if .Values.istio.enabled }}
{{- if .Values.certs.istio_public_issuer.enabled }}
{{- if .Values.certs.istio_internal_issuer.enabled }}
{{ fail "Both internal and public issuer for Istio Ingress Gateway are enabled. Please disable one of them." }}
{{- end }}
{{- if eq .Values.certs.istio_public_issuer.type "acme" }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.certs.istio_public_issuer.component }}"
  namespace: {{ template "istio.gateway.namespace" . }}
spec:
  acme:
    email: {{ .Values.certs.issuers.acme.email }}
    server: {{ .Values.certs.issuers.acme.server }}
    privateKeySecretRef:
      name: "{{ template "pulsar.fullname" . }}-{{ .Values.certs.istio_public_issuer.component }}-private-key"
    solvers:
    - dns01:
        cnameStrategy: Follow
      {{- if eq .Values.certs.issuers.acme.solver "clouddns" }}
      {{- if .Values.certs.issuers.acme.solvers.clouddns }}
        clouddns:
{{ toYaml .Values.certs.issuers.acme.solvers.clouddns | indent 10 }}
      {{- end }}
      {{- end }}
      {{- if eq .Values.certs.issuers.acme.solver "route53" }}
      {{- if .Values.certs.issuers.acme.solvers.route53 }}
        route53:
{{ toYaml .Values.certs.issuers.acme.solvers.route53 | indent 10 }}
      {{- end }}
      {{- end }}
      {{- if eq .Values.certs.issuers.acme.solver "cloudflare" }}
      {{- if .Values.certs.issuers.acme.solvers.cloudflare }}
        cloudflare:
{{ toYaml .Values.certs.issuers.acme.solvers.cloudflare | indent 10 }}
      {{- end }}
      {{- end }}
{{- end }}
{{- end }}
{{- end }}