{{- if .Values.istio.enabled }}
apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: "{{ template "pulsar.fullname" . }}-default-strict"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  mtls:
{{- if .Values.istio.migration }}
    mode: PERMISSIVE
{{- else }}
    mode: STRICT
{{- end }}
{{- end }}
