#
# Copyright (c) 2019 - 2024 StreamNative, Inc.. All Rights Reserved.
#

{{- if .Values.components.pulsar_detector }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.pulsar_detector.component }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.pulsar_detector.component }}
{{- with .Values.pulsar_detector.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  replicas: {{ .Values.pulsar_detector.replicaCount }}
  selector:
    matchLabels:
      {{- include "pulsar.matchLabels" . | nindent 6 }}
      component: {{ .Values.pulsar_detector.component }}
  template:
    metadata:
      labels:
        {{- include "pulsar.template.labels" . | nindent 8 }}
        component: {{ .Values.pulsar_detector.component }}
{{- with .Values.pulsar_detector.labels }}
{{ toYaml . | indent 8 }}
{{- end }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.pulsar_detector.port }}"
      {{- include "pulsar.istio.pod.annotations" . | nindent 8 }}
{{- if .Values.pulsar_detector.annotations }}
{{ toYaml .Values.pulsar_detector.annotations | indent 8 }}
{{- end }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets: {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      {{- end }}
      {{- if .Values.pulsar_detector.securityContext }}
      securityContext: {{- toYaml .Values.pulsar_detector.securityContext | nindent 8 }}
      {{- end }}
    {{- if .Values.pulsar_detector.serviceAccount.use }}
      serviceAccountName: {{ template "pulsar.detector.serviceAccount" . }}
    {{- end }}
    {{- if .Values.pulsar_detector.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.pulsar_detector.nodeSelector | indent 8 }}
    {{- end }}
    {{- if .Values.pulsar_detector.tolerations }}
      tolerations:
{{ toYaml .Values.pulsar_detector.tolerations | indent 8 }}
    {{- end }}
      terminationGracePeriodSeconds: {{ .Values.pulsar_detector.gracePeriod }}
      {{- if not .Values.istio.enabled }}
      initContainers:
      # This init container will wait for zookeeper to be ready before
      # deploying the bookies
      - name: wait-zookeeper-ready
        image: "{{ .Values.images.zookeeper.repository }}:{{ .Values.images.zookeeper.tag }}"
        imagePullPolicy: {{ .Values.images.zookeeper.pullPolicy }}
        command: ["sh", "-c"]
        args:
          - >-
            until bin/pulsar zookeeper-shell -server {{ template "pulsar.zookeeper.connect" . }} get {{ .Values.metadataPrefix }}/admin/clusters/{{ template "pulsar.cluster" . }}; do
              sleep 3;
            done;
        {{- if .Values.pulsar_detector.resources }}
        resources: {{- toYaml .Values.pulsar_detector.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: tmp
          mountPath: /pulsar/logs
      # This init container will wait for at least one broker to be ready before
      # deploying the pulsar-detector
      - name: wait-broker-ready
        image: "{{ .Values.images.broker.repository }}:{{ .Values.images.broker.tag }}"
        imagePullPolicy: {{ .Values.images.broker.pullPolicy }}
        command: ["sh", "-c"]
        args:
          - >-
            set -e;
            brokerServiceNumber="$(nslookup -timeout=10 {{ template "pulsar.fullname" . }}-{{ .Values.broker.component }} | grep Name | wc -l)";
            until [ ${brokerServiceNumber} -ge 1 ]; do
              echo "pulsar cluster {{ template "pulsar.fullname" . }} isn't initialized yet ... check in 10 seconds ...";
              sleep 10;
              brokerServiceNumber="$(nslookup -timeout=10 {{ template "pulsar.fullname" . }}-{{ .Values.broker.component }} | grep Name | wc -l)";
            done;
        {{- if .Values.pulsar_detector.resources }}
        resources: {{- toYaml .Values.pulsar_detector.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: tmp
          mountPath: /pulsar/logs
      {{- end }}
      containers:
      - name: "{{ template "pulsar.fullname" . }}-{{ .Values.pulsar_detector.component }}"
        image: "{{ .Values.images.pulsar_detector.repository }}:{{ .Values.images.pulsar_detector.tag }}"
        imagePullPolicy: {{ .Values.images.pulsar_detector.pullPolicy }}
        command: ["sh", "-c"]
        {{- if .Values.pulsar_detector.extraArgs }}
        args:
        - >
          bin/pulsar-detector
          {{- range $key, $value := .Values.pulsar_detector.extraArgs }}
          {{- if $value }}
          -{{ $key }}={{ $value }} 
          {{- else }}
          -{{ $key }}
          {{- end }}
          {{- end }}
          {{- if and .Values.auth.authentication.enabled (eq .Values.auth.authentication.provider "jwt") }} 
          -auth-plugin token 
          -auth-params "{\"token\":\"$brokerClientAuthenticationParameters\"}" 
          {{- end }}
          -service-url {{ template "pulsar.detector.serviceUrl" . }}
          -webservice-url {{ template "pulsar.detector.webServiceUrl" . }};
        {{- else }}
        args:
        - >
          bin/pulsar-detector -service-url {{ template "pulsar.detector.serviceUrl" . }} -webservice-url {{ template "pulsar.detector.webServiceUrl" . }} {{- if and .Values.auth.authentication.enabled (eq .Values.auth.authentication.provider "jwt") }} -auth-plugin token -auth-params "{\"token\":\"$brokerClientAuthenticationParameters\"}" {{- end }};
        {{- end }}
        {{- if .Values.pulsar_detector.resources }}
        resources: {{- toYaml .Values.pulsar_detector.resources | nindent 10 }}
        {{- end }}
        ports:
        # prometheus needs to access /metrics endpoint
        - name: server
          containerPort: {{ .Values.pulsar_detector.port }}
        env:
        {{- if and .Values.auth.authentication.enabled .Values.auth.authentication.jwt.enabled }}
        - name: brokerClientAuthenticationParameters
          value: "file:///mnt/token/TOKEN"
        {{- end }}
        {{- if .Values.pulsar_detector.extraEnv  }}
        {{- toYaml .Values.pulsar_detector.extraEnv | nindent 10 }}
        {{- end }}
        {{- if or .Values.pulsar_detector.extraVolumeMounts (and .Values.auth.authentication.enabled .Values.auth.authentication.jwt.enabled) }}
        volumeMounts: 
         {{- if and .Values.auth.authentication.enabled .Values.auth.authentication.jwt.enabled }}
        - mountPath: /mnt/token
          name: detector-token
          secretName: {{ .Release.Name }}-token-admin
        {{- end }}
        {{- if .Values.pulsar_detector.extraVolumeMounts }}
        {{- toYaml .Values.pulsar_detector.extraVolumeMounts | nindent 10 }}
        {{- end }}
        {{- end }}
      volumes:
      - name: tmp
        emptyDir: {}
      {{- if .Values.pulsar_detector.extraVolumes }}
      {{- toYaml .Values.pulsar_detector.extraVolumes | nindent 8 }}
      {{- end }}
{{- end }}
