{{- if .Values.initialize }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ template "sn_console.fullname" . }}-{{ .Values.component }}-init-configmap"
  namespace: {{ template "sn_console.namespace" . }}
  labels:
    {{- include "sn_console.standardLabels" . | nindent 4 }}
    component: {{ .Values.component }}
data:
{{ (.Files.Glob "conf/*").AsConfig | indent 2 }}
{{- end }}
