{{- if .Values.ingress.enabled }}

{{/* COMMENT */}}

{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: "{{ template "sn_console.fullname" . }}-{{ .Values.component }}-ingress"
  namespace: {{ template "sn_console.namespace" . }}
  labels:
    {{- include "sn_console.standardLabels" . | nindent 4 }}
    component: {{ .Values.component }}
  annotations:
{{- if .Values.ingress.tls.enabled }}
    # don't do ssl-redirect if ssl is already terminated at the load balancer level
    ingress.kubernetes.io/ssl-redirect: "true"
{{- if and .Values.ingress.public_issuer.enabled }}
    kubernetes.io/tls-acme: "true"
    cert-manager.io/issuer: "{{ .Values.ingress.public_issuer.issuer }}"
{{- end }}
{{- else }}
    ingress.kubernetes.io/ssl-redirect: "false"
{{- end }}
    kubernetes.io/ingress.class: nginx
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
      - {{ .Values.ingress.host }}
      secretName: {{ .Values.component }}-ingress
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            {{- if and .Values.ingress.pathType (semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion) }}
            pathType: {{ .Values.ingress.pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ template "sn_console.fullname" . }}-{{ .Values.component }}
                port:
                  number: {{ .Values.service.ports.frontend }}
              {{- else }}
              serviceName: {{ template "sn_console.fullname" . }}-{{ .Values.component }}
              servicePort: {{ .Values.service.ports.frontend }}
              {{- end }}
{{- end }}