{{- if and .Values.components.streamnative_console .Values.streamnative_console.login.sso.azure.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.streamnative_console.component }}-azure-oauth2-secret"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.streamnative_console.component }}
type: Opaque
stringData:
  AZURE_CLIENT_ID: {{ .Values.streamnative_console.login.sso.azure.config.AZURE_CLIENT_ID }}
  AZURE_CLIENT_SECRET: {{ .Values.streamnative_console.login.sso.azure.config.AZURE_CLIENT_SECRET }}
  AZURE_TENANT_ID: {{ .Values.streamnative_console.login.sso.azure.config.AZURE_TENANT_ID }}
{{- end }}
