{{- if .Values.external_dns.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "external_dns.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}
  annotations:
{{- with .Values.external_dns.serviceAcct.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.external_dns.component }}"
  labels:
    app: {{ template "pulsar.name" . }}
    chart: {{ template "pulsar.chart" . }}
    release: {{ .Release.Name }}
rules:
- apiGroups: [""]
  resources: ["services","endpoints","pods"]
  verbs: ["get","watch","list"]
- apiGroups: ["extensions","networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.external_dns.component }}-viewer"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.external_dns.component }}"
subjects:
- kind: ServiceAccount
  name: {{ template "external_dns.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}
{{- end }}
