#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# deploy PulsarBroker only when `components.broker and operator.enabled` is true
{{- if and .Values.components.broker .Values.broker.operator.enabled }}
apiVersion: pulsar.streamnative.io/v1alpha1
kind: PulsarBroker
metadata:
  # no need to add component to name here as operator will add 
  name: "{{ template "pulsar.fullname" . }}"
  namespace: {{ template "pulsar.namespace" . }}
  annotations:
    "cloud.streamnative.io/enable-config-prefix": "false"
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.broker.component }}
spec:
  zkServers: "{{ template "pulsar.zookeeper.connect" . }}{{ .Values.metadataPrefix }}"
  replicas: {{ .Values.broker.replicaCount }}
  image: "{{ .Values.images.broker.repository }}:{{ .Values.images.broker.tag }}"
  imagePullPolicy: {{ .Values.images.broker.pullPolicy }}
  pod:
    serviceAccountName: {{ template "pulsar.broker.serviceAccount" . }}
    labels:
      {{- include "pulsar.template.labels" . | nindent 6 }}
      component: {{ .Values.broker.component }}
      {{- if and .Values.broker.kop.enabled .Values.broker.kop.tls.enabled }}
      sidecar.istio.io/inject: "true"
      {{- end }}
    annotations:
      {{- if .Values.monitoring.datadog }}
      {{- include "pulsar.broker.datadog.annotation" . | nindent 6 }}
      {{- end }}
      prometheus.io/scrape: "true"
      prometheus.io/port: "{{ .Values.broker.ports.http }}"
{{- with .Values.broker.annotations }}
{{ toYaml . | indent 6 }}
{{- end }}
    {{- if and .Values.affinity.anti_affinity .Values.broker.affinity.anti_affinity }}
    affinity:
      podAntiAffinity:
        {{ .Values.broker.affinity.type }}:
          {{ if eq .Values.broker.affinity.type "requiredDuringSchedulingIgnoredDuringExecution" }}
          - labelSelector:
              matchExpressions:
                - key: "app"
                  operator: In
                  values:
                    - "{{ template "pulsar.name" . }}"
                - key: "release"
                  operator: In
                  values:
                    - {{ .Release.Name }}
                - key: "component"
                  operator: In
                  values:
                    - {{ .Values.broker.component }}
            topologyKey: "kubernetes.io/hostname"
          {{ else }}
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: "app"
                    operator: In
                    values:
                      - "{{ template "pulsar.name" . }}"
                  - key: "release"
                    operator: In
                    values:
                      - {{ .Release.Name }}
                  - key: "component"
                    operator: In
                    values:
                      - {{ .Values.broker.component }}
              topologyKey: "kubernetes.io/hostname"
          {{ end }}
    {{- end }}
    vars:
    - name: PULSAR_PREFIX_OIDCTokenAudienceID
      valueFrom:
          secretKeyRef:
            name: {{ template "pulsar.vault-secret-key-name" . }}
            key: PULSAR_PREFIX_OIDCTokenAudienceID
    - name: brokerClientAuthenticationParameters
      valueFrom:
          secretKeyRef:
            name: {{ template "pulsar.vault-secret-key-name" . }}
            key: brokerClientAuthenticationParameters
    {{- if not ( and .Values.broker.kop.enabled .Values.broker.advertisedDomain ) }}
    - name: POD_NAME
      valueFrom:
          fieldRef:
            fieldPath: metadata.name
    - name: PULSAR_PREFIX_kafkaAdvertisedListeners
      value: PLAINTEXT://$(POD_NAME).{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}-headless.{{ .Values.namespace }}.svc.cluster.local:9092,SSL://$(POD_NAME).{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}-headless.{{ .Values.namespace }}.svc.cluster.local:9093
    {{- end }}
    # not support envFrom currently
    #envFrom:
    #- secretRef:
    #    name: {{ template "pulsar.vault-secret-key-name" . }}
    {{- if .Values.broker.resources }}
    resources:
      requests:
        memory: "{{ .Values.broker.resources.requests.memory }}"
        cpu: "{{ .Values.broker.resources.requests.cpu }}"
    {{- end }}
    {{- if .Values.broker.securityContext }}
    securityContext: {{ .Values.broker.securityContext }}
    {{- end }}
    {{- if .Values.broker.nodeSelector }}
    nodeSelector:
{{ toYaml .Values.broker.nodeSelector | indent 6 }}
    {{- end }}
    {{- if .Values.broker.tolerations }}
    tolerations:
{{ toYaml .Values.broker.tolerations | indent 6 }}
    {{- end }}
    terminationGracePeriodSeconds: {{ .Values.broker.gracePeriod }}
    jvmOptions:
      extraOptions: []
      memoryOptions:
        - {{ .Values.broker.configData.PULSAR_MEM }}
      gcOptions:
        - {{ .Values.broker.configData.PULSAR_GC }}
      gcLoggingOptions: []
  {{- if and .Values.broker.kop.enabled .Values.broker.kop.tls.enabled }}
  istio:
    enabled: true
    gateway:
      create: true
      selector:
        istio: {{ quote .Values.broker.istio.gateway.selector.istio }}
  {{- end }}
  config:
    {{- if .Values.broker.functionmesh.enabled }}
    function:
      enabled: true
      mesh:
        builtinConnectorsRef:
          name: builtin-connectors
      type: FunctionMesh
      {{- end }}
    advertisedDomain: {{ quote .Values.broker.advertisedDomain }}
    {{- if .Values.broker.kop.enabled }}
    protocolHandlers:
      kop:
        enabled: true
        tls:
          enabled: {{ .Values.broker.kop.tls.enabled }}
    {{- if .Values.certs.public_issuer.enabled }}
          trustStoreEnabled: false
    {{- end }}
    {{- if .Values.broker.kop.tls.certSecretName }}
          certSecretName: {{ .Values.broker.kop.tls.certSecretName }}
    {{ else }}
          certSecretName: "{{ .Release.Name }}-{{ .Values.tls.proxy.cert_name }}"
    {{- end }}
    {{- if .Values.broker.kop.tls.passwordSecretRef }}
          passwordSecretRef:
            key: {{ .Values.broker.kop.tls.passwordSecretRef.key }}
            name: {{ .Values.broker.kop.tls.passwordSecretRef.name }}
    {{ else }}
          passwordSecretRef:
            name: cert-jks-passwd
            key: password
    {{- end }}
    {{- end }}
    tls:
      certSecretName: tls
      enabled: false
    custom:
      PULSAR_PREFIX_additionalServlets: "license-plugin-servlet"
      PULSAR_PREFIX_additionalServletDirectory: "./brokerAdditionalServlet"
{{ toYaml .Values.broker.configData | indent 6 }}
      {{- if .Values.auth.authentication.enabled }}
      authenticationEnabled: "true"
      authenticationProviders: "io.streamnative.pulsar.broker.authentication.AuthenticationProviderOIDCToken"
      brokerClientAuthenticationPlugin: "org.apache.pulsar.client.impl.auth.AuthenticationToken"
      {{- if .Values.add_instance }}
      PULSAR_PREFIX_vaultHost: "{{ .Values.vault.vaultAddr }}"
      PULSAR_PREFIX_OIDCPublicKeyPath: "{{ .Values.vault.vaultAddr }}/v1/identity/oidc/.well-known/keys"
      {{- else }}
      PULSAR_PREFIX_vaultHost: "{{ template "pulsar.vault.url" . }}"
      PULSAR_PREFIX_OIDCPublicKeyPath: "{{ template "pulsar.vault.url" . }}/v1/identity/oidc/.well-known/keys"
      {{- end}}
      superUserRoles: "admin"
      {{- end }}
      {{- if .Values.auth.authorization.enabled }}
      authorizationEnabled: "true"
      authorizationProvider: "org.apache.pulsar.broker.authorization.PulsarAuthorizationProvider"
      {{- end }}
      {{- if .Values.broker.kop.enabled }}
      PULSAR_PREFIX_saslAllowedMechanisms: "PLAIN"
      {{- end }}
  {{- if .Values.zookeeper.customTools.restore.enable }}
  initJobPod:
    initContainers:
      - name: cleanup
        image: "{{ .Values.zookeeper.customTools.restore.repository }}:{{ .Values.zookeeper.customTools.restore.tag }}"
        command:
          - bash
          - '-c'
        args:
          - "bin/pulsar-metadata-tool cleanup"
        env:
          - name: METADATA_TOOL_CONF
            value: "/pulsar-metadata-tool/conf/pulsar-metadata-tool/pulsar-metadata-tool.properties"
        volumeMounts:
          - name: cleanup-config
            mountPath: /pulsar-metadata-tool/conf/pulsar-metadata-tool
    volumes:
      - name: cleanup-config
        configMap:
          name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}"
  {{- end }}
{{ (.Files.Glob "conf/broker/log4j2.yaml").AsConfig | indent 2 }}
{{- end }}