# Copyright (c) 2020 StreamNative, Inc.. All Rights Reserved.

{{- if and .Values.components.pulsar }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pulsar-operator-pulsar-broker
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - list
      - watch
      - get
      - update
      - create
      - delete
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
      - secrets
      - services
    verbs:
      - list
      - watch
      - get
      - update
      - create
      - delete
      - patch
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - list
      - watch
      - get
      - update
      - create
      - delete
      - patch
  - apiGroups:
      - compute.functionmesh.io
    resources:
      - '*'
    verbs:
      - list
      - watch
      - get
      - update
      - create
      - delete
      - patch
{{- end }}