## Namespace to deploy local storage provisioner
namespace: default

## provisioner image
image:
  name: "quay.io/external_storage/local-volume-provisioner"
  tag: "v2.2.0"
  pullPolicy: "Always"

## type
type: gke
gke:
  useNodeNameOnly: "true"
  hostDir: /mnt/disks
  mountDir: /mnt/disks

## rbac settings
rbac:
  service_account:
    name: admin
