{{- if and .Values.ingress.presto.enabled .Values.istio.enabled }}
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: "{{ template "presto.service" . }}"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  selector:
{{ toYaml .Values.istio.gateway.selector | indent 4 }}
  servers:
  - hosts:
    - "{{ template "presto.service_domain" . }}"
    port:
      name: https
      number: 443
      protocol: HTTPS
    tls:
      credentialName: {{ .Values.istio.gateway.tls.certSecretName | quote }}
      mode: SIMPLE
{{- end }}