{{- if and .Values.ingress.presto.enabled .Values.istio.enabled }}
kind: VirtualService
apiVersion: networking.istio.io/v1alpha3
metadata:
  name: "{{ template "presto.service" . }}"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  hosts:
    - "{{ template "presto.service_domain" . }}"
  gateways:
    - "{{ template "presto.service" . }}"
  http:
    - match:
        - uri:
            prefix: "/"
      route:
        - destination:
            host: "{{ template "presto.hostname" . }}"
            port:
              number: {{ .Values.presto.coordinator.ports.http }}
              # TODO: support terminate tls in presto(Istio SSL Passthrough)
{{- end }}