{{- if .Values.components.bookkeeper }}
{{- $namespaces := splitList "," .Values.watchNamespace }}
{{- if .Values.pulsar.serviceAccount.clusterRole }}
{{- $namespaces = list (first $namespaces) }}
{{- end }}
{{- range $namespaces }}
---
kind: {{ template "pulsar.bookkeeperRoleKind" $ }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{ template "pulsar.fullname" $ }}-{{ $.Values.bookkeeper.rbac.name }}'
  {{- if not $.Values.bookkeeper.serviceAccount.clusterRole }}
  namespace: {{ . | default (include "pulsar.namespace" $ ) }}
  {{- end }}
  labels:
    {{- include "pulsar.standardLabels" $ | nindent 4 }}
    components: {{ $.Values.bookkeeper.component }}
rules:
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - bookkeeper.streamnative.io
    resources:
      - bookkeeperclusters
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - bookkeeper.streamnative.io
    resources:
      - bookkeeperclusters/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - bookkeeper.streamnative.io
    resources:
      - bookkeeperclusters/finalizers
    verbs:
      - update
  - apiGroups:
      - bookkeeper.streamnative.io
    resources:
      - bookkeeperclusters/finalizers
    verbs:
      - update
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - list
      - update
  - apiGroups:
      - networking.istio.io
    resources:
      - '*'
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - security.istio.io
    resources:
      - '*'
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
kind: {{ template "pulsar.bookkeeperRoleBindingKind" $ }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "pulsar.bookkeeperRoleBindingName" $ }}
  {{- if not $.Values.bookkeeper.serviceAccount.clusterRole }}
  namespace: {{ . | default (include "pulsar.namespace" $)}}
  {{- end }}
subjects:
  - kind: ServiceAccount
    name: '{{ template "pulsar.fullname" $ }}-{{ $.Values.bookkeeper.serviceAccount.name }}'
    namespace: {{ template "pulsar.namespace" $ }}
roleRef:
  kind: {{ template "pulsar.bookkeeperRoleKind" $ }}
  name: '{{ template "pulsar.fullname" $ }}-{{ $.Values.bookkeeper.rbac.name }}'
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}