{{- if and .Values.components.streamnative_console .Values.streamnative_console.login.sso.google.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.streamnative_console.component }}-google-oauth2-secret"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.streamnative_console.component }}
type: Opaque
stringData:
  GOOGLE_CLIENT_ID: {{ .Values.streamnative_console.login.sso.google.config.GOOGLE_CLIENT_ID }}
  GOOGLE_CLIENT_SECRET: {{ .Values.streamnative_console.login.sso.google.config.GOOGLE_CLIENT_SECRET }}
{{- end }}
