#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# deploy zookeeper only when `components.zookeeper` is true
{{- if .Values.components.zookeeper }}
{{- if and .Values.volumes.persistence .Values.zookeeper.volumes.persistence }}

# define the storage class for data directory
{{- if and (not (and .Values.volumes.local_storage .Values.zookeeper.volumes.data.local_storage)) .Values.zookeeper.volumes.data.storageClass }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}-{{ .Values.zookeeper.volumes.data.name }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.zookeeper.component }}
provisioner: {{ .Values.zookeeper.volumes.data.storageClass.provisioner }}
{{- if .Values.zookeeper.volumes.data.storageClass.volumeBindingMode }}
volumeBindingMode: {{ .Values.zookeeper.volumes.data.storageClass.volumeBindingMode }}
{{- end }}
{{- if .Values.zookeeper.volumes.data.storageClass.reclaimPolicy }}
reclaimPolicy: {{ .Values.zookeeper.volumes.data.storageClass.reclaimPolicy }}
{{- end }}
{{- if .Values.zookeeper.volumes.data.storageClass.allowVolumeExpansion }}
allowVolumeExpansion: {{ .Values.zookeeper.volumes.data.storageClass.allowVolumeExpansion }}
{{- end }}
{{- if .Values.zookeeper.volumes.data.storageClass.mountOptions }}
mountOptions:
{{- with .Values.zookeeper.volumes.data.storageClass.mountOptions }}
{{ toYaml . | indent 2 }}
{{- end }}
{{- end }}
{{- if .Values.zookeeper.volumes.data.storageClass.allowedTopologies }}
allowedTopologies:
{{- with .Values.zookeeper.volumes.data.storageClass.allowedTopologies }}
{{ toYaml . | indent 2 }}
{{- end }}
{{- end }}
parameters:
  type: {{ .Values.zookeeper.volumes.data.storageClass.type }}
  fsType: {{ .Values.zookeeper.volumes.data.storageClass.fsType }}
{{- with .Values.zookeeper.volumes.data.storageClass.extraParameters }}
{{ toYaml . | indent 2 }}
{{- end }}
{{- end }}
---

# define the storage class for dataLog directory
{{- if and (not (and .Values.volumes.local_storage .Values.zookeeper.volumes.dataLog.local_storage)) .Values.zookeeper.volumes.dataLog.storageClass }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}-{{ .Values.zookeeper.volumes.dataLog.name }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.zookeeper.component }}
provisioner: {{ .Values.zookeeper.volumes.dataLog.storageClass.provisioner }}
{{- if .Values.zookeeper.volumes.dataLog.storageClass.volumeBindingMode }}
volumeBindingMode: {{ .Values.zookeeper.volumes.dataLog.storageClass.volumeBindingMode }}
{{- end }}
{{- if .Values.zookeeper.volumes.dataLog.storageClass.reclaimPolicy }}
reclaimPolicy: {{ .Values.zookeeper.volumes.dataLog.storageClass.reclaimPolicy }}
{{- end }}
{{- if .Values.zookeeper.volumes.dataLog.storageClass.allowVolumeExpansion }}
allowVolumeExpansion: {{ .Values.zookeeper.volumes.dataLog.storageClass.allowVolumeExpansion }}
{{- end }}
{{- if .Values.zookeeper.volumes.dataLog.storageClass.mountOptions }}
mountOptions:
{{- with .Values.zookeeper.volumes.dataLog.storageClass.mountOptions }}
{{ toYaml . | indent 2 }}
{{- end }}
{{- end }}
{{- if .Values.zookeeper.volumes.dataLog.storageClass.allowedTopologies }}
allowedTopologies:
{{- with .Values.zookeeper.volumes.dataLog.storageClass.allowedTopologies }}
{{ toYaml . | indent 2 }}
{{- end }}
{{- end }}
parameters:
  type: {{ .Values.zookeeper.volumes.dataLog.storageClass.type }}
  fsType: {{ .Values.zookeeper.volumes.dataLog.storageClass.fsType }}
{{- with .Values.zookeeper.volumes.dataLog.storageClass.extraParameters }}
{{ toYaml . | indent 2 }}
{{- end }}
{{- end }}
---

{{- end }}
{{- end }}
