{{- /*
Returns an image-puller daemonset. Two daemonsets will be created like this.
- hook-image-puller: for pre helm upgrade image pulling (lives temporarily)
- continuous-image-puller: for newly added nodes image pulling
*/}}
{{- define "image_puller.daemonset" -}}
# image puller daemonset
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "chart.fullname" . }}-{{ print .componentPrefix "image-puller" }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.standardLabels" . | nindent 4 }}
  {{- if .hook }}
  annotations:
    {{- /*
    Allows the daemonset to be deleted when the image-awaiter job is completed.
    */}}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-10"
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "chart.matchLabels" . | nindent 6 }}
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 100%
  template:
    metadata:
      labels:
        {{- /* Changes here will cause the DaemonSet to restart the pods. */}}
        {{- include "chart.template.labels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecrets }}
      {{- end }}
      initContainers:
        {{- range $image := .Values.images }}
        - name: image-pull-{{ $image.name }}
          {{- if $image.image }}
          image: {{ $image.image }}
          {{- else }}
          image: {{ $image.repository }}:{{ $image.tag }}
          {{- end }}
          imagePullPolicy: {{ $image.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - echo "Pulling {{ $image.name }} complete"
        {{- end }}
      containers:
        - name: pause
          image: {{ .Values.pause.image.name }}:{{ .Values.pause.image.tag }}
{{- end }}
