#
# Copyright (c) 2019 - 2024 StreamNative, Inc.. All Rights Reserved.
#

{{- if and .Values.initialize .Values.auth.authentication.enabled .Values.auth.authentication.jwt.enabled .Values.auth.authentication.jwt.autoInitSecret }}
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ template "pulsar.fullname" . }}-jwt-secret-init-{{ lower (randAlphaNum 6) }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
{{- with .Values.toolset.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  annotations:
{{- with .Values.toolset.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  template:
    metadata:
      labels:
        {{- include "pulsar.template.labels" . | nindent 8 }}
{{- if .Values.toolset.labels }}    
{{ toYaml .Values.toolset.labels | indent 8 }}
{{- end }}
      annotations:
{{- if .Values.toolset.annotations }}    
{{ toYaml .Values.toolset.annotations | indent 8 }}
{{- end }}
    spec:
    {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.global.imagePullSecrets | indent 8 }}
    {{- end }}
      serviceAccountName: {{ template "pulsar.fullname" . }}-jwt-secret-init-acct
      volumes:
      - name: {{ template "pulsar.fullname" . }}-jwt-secret-init-config
        configMap:
          name: {{ template "pulsar.fullname" . }}-jwt-secret-init-config
      - name: tmp
        emptyDir: {}
      initContainers:
      - name: "kubectl"
        image: "{{ .Values.images.toolset.kubectl.repository }}:{{ .Values.images.toolset.kubectl.tag }}"
        imagePullPolicy: {{ .Values.images.toolset.kubectl.pullPolicy }}
        command: ["cp", "/usr/local/bin/kubectl", "/tmp/binaries"]
      {{- if .Values.toolset.resources }}
        resources:
{{ toYaml .Values.toolset.resources | indent 10 }}
      {{- end }}
        volumeMounts:
         - name: tmp
           mountPath: /tmp/binaries
      {{- if .Values.toolset.securityContext }}
      securityContext: {{- toYaml .Values.toolset.securityContext | nindent 8 }}
      {{- end }}
      containers:
      - name: "{{ template "pulsar.fullname" . }}-jwt-secret-init"
        image: "{{ .Values.images.toolset.repository }}:{{ .Values.images.toolset.tag }}"
        imagePullPolicy: {{ .Values.images.toolset.pullPolicy }}
        {{- if .Values.toolset.securityContext }}
        securityContext: {{- toYaml .Values.toolset.securityContext | nindent 10 }}
        {{- end }}
        command: ["bash", "-c"]
        args:
          - |
            set -ex;
            mkdir -p /tmp/scripts/pulsar;
            cp scripts/jwt-secret-config/* /tmp/scripts/pulsar;
            chmod +x /tmp/scripts/pulsar/*;
            usingSecretKey={{ .Values.auth.authentication.jwt.usingSecretKey }};
            ls -lh /tmp/scripts/pulsar/;
            export KUBECTL_BIN=/tmp/binaries/kubectl;
            export OUTPUT=/tmp/scripts/pulsar/output;
            mkdir ${OUTPUT};
            if [ "${usingSecretKey}" = "true" ]; then
              /tmp/scripts/pulsar/prepare_helm_release.sh -n {{ template "pulsar.namespace" . }} -k {{ .Release.Name }} --symmetric;
            else 
              /tmp/scripts/pulsar/prepare_helm_release.sh -n {{ template "pulsar.namespace" . }} -k {{ .Release.Name }};
            fi;
            curl -sf -XPOST http://127.0.0.1:15020/quitquitquit || true;
      {{- if .Values.toolset.resources }}
        resources:
{{ toYaml .Values.toolset.resources | indent 10 }}
      {{- end }}
        volumeMounts:
        - mountPath: /pulsar/scripts/jwt-secret-config
          name: {{ template "pulsar.fullname" . }}-jwt-secret-init-config
        - name: tmp
          mountPath: /tmp/binaries
      restartPolicy: Never
{{- end }}
