{{- if .Values.monitoring.alert_manager }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.alert_manager.component }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.alert_manager.component }}
data:
  # For more configuration about the alert manager, please refer to https://prometheus.io/docs/alerting/configuration/
  alertmanager.yml: |
{{- with .Values.alert_manager.config }}
{{ toYaml . | indent 4 }}
{{- end }}
{{- end }}
