{{- if .Values.certs.public_issuer.enabled }}
{{- if eq .Values.certs.public_issuer.type "acme" }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.certs.public_issuer.component }}"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  acme:
    email: {{ .Values.certs.issuers.acme.email }}
    server: {{ .Values.certs.issuers.acme.server }}
    privateKeySecretRef:
      # Secret resource used to store the account's private key.
      name: "{{ template "pulsar.fullname" . }}-{{ .Values.certs.public_issuer.component }}-private-key"
    # Add a single challenge solver, HTTP01 using nginx
    solvers:
    - dns01:
        cnameStrategy: Follow
      {{- if eq .Values.certs.issuers.acme.solver "clouddns" }}
      {{- if .Values.certs.issuers.acme.solvers.clouddns }}
        cloudDNS:
{{ toYaml .Values.certs.issuers.acme.solvers.clouddns | indent 10 }}
      {{- end }}
      {{- end }}
      {{- if eq .Values.certs.issuers.acme.solver "route53" }}
      {{- if .Values.certs.issuers.acme.solvers.route53 }}
        route53:
{{ toYaml .Values.certs.issuers.acme.solvers.route53 | indent 10 }}
      {{- end }}
      {{- end }}
      {{- if eq .Values.certs.issuers.acme.solver "cloudflare" }}
      {{- if .Values.certs.issuers.acme.solvers.cloudflare }}
        cloudflare:
{{ toYaml .Values.certs.issuers.acme.solvers.cloudflare | indent 10 }}
      {{- end }}
      {{- end }}
{{- end }}
{{- end }}
