{{- if .Values.certs.internal_issuer.enabled }}
{{- if eq .Values.certs.internal_issuer.type "selfsigning" }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.certs.internal_issuer.component }}"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  selfSigned: {}
---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ template "pulsar.fullname" . }}-ca"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  secretName: "{{ .Release.Name }}-ca-tls"
  commonName: "{{ template "pulsar.namespace" . }}.svc.cluster.local"
  usages:
    - server auth
    - client auth
  isCA: true
  issuerRef:
    name: "{{ template "pulsar.fullname" . }}-{{ .Values.certs.internal_issuer.component }}"
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
    kind: Issuer
    # This is optional since cert-manager will default to this value however
    # if you are using an external issuer, change this to that issuer group.
    group: cert-manager.io
{{- end }}
---

apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.certs.internal_issuer.component }}-ca-issuer"
  namespace: {{ template "pulsar.namespace" . }}
spec:
{{- if eq .Values.certs.internal_issuer.type "selfsigning" }}
  ca:
    secretName: "{{ .Release.Name }}-ca-tls"
{{- else if eq .Values.certs.internal_issuer.type "secret" }}
  ca:
    secretName: {{ .Values.certs.issuers.secret.secretName }}
{{- else if eq .Values.certs.internal_issuer.type "custom" }}
{{- with .Values.certs.issuers.custom }}
{{ toYaml . | indent 2 }}
{{- end }}
{{- end }}
{{- end }}
