{{- if and .Values.monitoring.grafana .Values.istio.enabled }}
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.grafana.component }}"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  rules:
  - to:
    - operation:
        ports:
        - "{{ .Values.grafana.port }}"
  action: ALLOW
  selector:
    matchLabels:
      app: {{ template "pulsar.name" . }}
      release: {{ .Release.Name }}
      component: {{ .Values.grafana.component }}
{{- end }}