{{- if .Values.monitoring.alert_manager }}
apiVersion: v1
kind: Service
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.alert_manager.component }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.alert_manager.component }}
  annotations:
        {{ toYaml .Values.alert_manager.service.annotations | indent 4 }}
spec:
{{- with .Values.alert_manager.service.spec }}
{{ toYaml . | indent 2 }}
{{- end }}
  ports:
    - name: server
      port: {{ .Values.alert_manager.port }}
  selector:
    app: {{ template "pulsar.name" . }}
    release: {{ .Release.Name }}
    component: {{ .Values.alert_manager.component }}
{{- end }}
