#
# Copyright (c) 2019 - 2024 StreamNative, Inc.. All Rights Reserved.
#
{{- if .Values.components.pulsar_coordinator }}
apiVersion: k8s.streamnative.io/v1alpha1
kind: PulsarCoordinator
metadata:
  name: "{{ template "pulsar.fullname" . }}-coordinator"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  {{- if hasKey .Values.pulsar_coordinator "toolSet" }}
  toolSet:
    enabled: {{ .Values.pulsar_coordinator.toolSet }}
  {{- end }}
  {{- if .Values.images.coordinator }}
  image: {{ .Values.images.coordinator.repository }}:{{ .Values.images.coordinator.tag }}
  {{- end }}
  {{- if .Values.pulsar_coordinator.nodeSelector }}
  pod:
    nodeSelector:
{{ toYaml .Values.pulsar_coordinator.nodeSelector | indent 6 }}
    {{- end }}
{{- end }}