#
# Copyright (c) 2019 - 2024 StreamNative, Inc.. All Rights Reserved.
#
# deploy zookeeper only when `components.zookeeper` is true
{{- if .Values.components.zookeeper }}
apiVersion: zookeeper.streamnative.io/v1alpha1
kind: ZooKeeperCluster
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}"
  namespace: {{ template "pulsar.namespace" . }}
  annotations:
    "cloud.streamnative.io/ignore-leader-check": "true"
    "cloud.streamnative.io/cluster-force-update": "true"
    {{- with .Values.zookeeper.zooKeeperCluster.annotations -}}
    {{ toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.zookeeper.component }}
{{- with .Values.zookeeper.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
{{- with .Values.zookeeper.zooKeeperCluster.labels -}}
{{ toYaml . | nindent 4 }}
{{- end }}
{{- if .Values.components.pulsar_coordinator }}
    k8s.streamnative.io/coordinator-name: "{{ template "pulsar.fullname" . }}-coordinator"
{{- end }}
spec:
  replicas: {{ .Values.zookeeper.replicaCount }}
  {{- if not (and .Values.components.pulsar_coordinator .Values.images.coordinator) }}
  image: "{{ .Values.images.zookeeper.repository }}:{{ .Values.images.zookeeper.tag }}"
  {{- end }}
  logConfig:
    level: {{ .Values.zookeeper.logConfig.level }}
    format: {{ .Values.zookeeper.logConfig.format }}
    {{- with .Values.zookeeper.logConfig.template }}
    template: |
    {{- toYaml . | nindent 6 -}}
    {{- end }}
  pod:
    {{- with .Values.zookeeper.topologySpreadConstraints }}
    topologySpreadConstraints:
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if .Values.zookeeper.serviceAccount.use }}
    serviceAccountName: {{ template "pulsar.zookeeper.serviceAccount" . }}
    {{- end }}
    labels:
      {{- include "pulsar.template.labels" . | nindent 6 }}
      component: {{ .Values.zookeeper.component }}
{{- with .Values.zookeeper.labels }}
{{ toYaml . | indent 6 }}
{{- end }}
{{- if or (and .Values.prometheus.scrape.zookeeper .Values.prometheus.scrape.enabled) .Values.monitoring.datadog .Values.zookeeper.annotations }}
    annotations:
      {{- if .Values.monitoring.datadog }}
      {{- include "pulsar.zookeeper.datadog.annotation" . | nindent 6 }}
      {{- end }}
{{- if (and .Values.prometheus.scrape.zookeeper .Values.prometheus.scrape.enabled) }}
      prometheus.io/scrape: "true"
      prometheus.io/port: "{{ .Values.zookeeper.ports.metrics  }}"
{{- end }}
      {{- include "pulsar.istio.pod.annotations" . | nindent 6 }}
{{- with .Values.zookeeper.annotations }}
{{ toYaml . | indent 6 }}
{{- end }}
{{- end }}
    {{- if .Values.zookeeper.customTools.restore.enable }}
    initContainers:
      - name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}-{{ .Values.zookeeper.customTools.restore.component }}"
        image: "{{ .Values.images.zookeeper.customTools.restore.repository }}:{{ .Values.images.zookeeper.customTools.restore.tag }}"
        imagePullPolicy: {{ .Values.zookeeper.customTools.restore.pullPolicy }}
        {{- if .Values.zookeeper.initContainerSecurityContext }}
        securityContext: {{- toYaml .Values.zookeeper.initContainerSecurityContext | nindent 10 }}
        {{- end }}
        command: ["sh", "-c"]
        args:
          - >
            cat conf/pulsar-metadata-tool/pulsar-metadata-tool.properties;
            bin/pulsar-metadata-tool restore {{ .Values.zookeeper.customTools.restore.restorePoint }};
            ls -R /pulsar/data/zookeeper;
        env:
          {{- if .Values.zookeeper.customTools.restore.secrets.use }}
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: {{ .Values.zookeeper.customTools.restore.secrets.aws.secretName }}
                key: AWS_ACCESS_KEY_ID
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: {{ .Values.zookeeper.customTools.restore.secrets.aws.secretName }}
                key: AWS_SECRET_ACCESS_KEY
          {{- end }}
          - name: METADATA_TOOL_CONF
            value: "/pulsar-metadata-tool/conf/pulsar-metadata-tool/pulsar-metadata-tool.properties"
        envFrom:
          - configMapRef:
              name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}"
        volumeMounts:
          - name: "data"
            mountPath: "/pulsar/data"
          - name: restore-config
            mountPath: /pulsar-metadata-tool/conf/pulsar-metadata-tool
        {{- if .Values.zookeeper.resources }}
        resources: {{- toYaml .Values.zookeeper.resources | nindent 10 }}
        {{- end }}
    volumes:
      - name: restore-config
        configMap:
          name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}"
    {{- end }}
    affinity:
      {{- include "pulsar.antiAffinityRules" (dict "Values" .Values "thisAffinity" .Values.zookeeper.affinity "Component" .Values.zookeeper.component "Release" .Release "Chart" .Chart) | indent 6 }}
    {{- if .Values.zookeeper.resources }}
    resources:
{{ toYaml .Values.zookeeper.resources | indent 6 }}
    {{- end }}
    {{- if .Values.zookeeper.extraEnv }}
    vars:
{{ toYaml .Values.zookeeper.extraEnv | indent 6 }}
    {{- end }}
    {{- with .Values.zookeeper.securityContext }}
    securityContext:
{{ toYaml . | indent 6 }}
    {{- end }}
    {{- if .Values.zookeeper.nodeSelector }}
    nodeSelector:
{{ toYaml .Values.zookeeper.nodeSelector | indent 6 }}
    {{- end }}
    {{- if .Values.zookeeper.tolerations }}
    tolerations:
{{ toYaml .Values.zookeeper.tolerations | indent 6 }}
    {{- end }}
    terminationGracePeriodSeconds: {{ .Values.zookeeper.gracePeriod }}
    {{- include "pulsar.jvm.options" .Values.zookeeper | nindent 4 }}
    {{- if .Values.global.imagePullSecrets }}
    imagePullSecrets:
{{ toYaml .Values.global.imagePullSecrets | indent 6 }}
    {{- end }}
    {{- if .Values.zookeeper.operator.adopt_existing }}
    volumes:
    {{- include "pulsar.zookeeper.data.volumes" . | nindent 4 }}
    {{- include "pulsar.zookeeper.certs.volumes" . | nindent 4 }}
    {{- include "pulsar.zookeeper.genzkconf.volumes" . | nindent 4 }}
    {{- if .Values.zookeeper.customTools.restore.enable }}
    - name: restore-config
      configMap:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}"
    {{- end }}
    {{- end }}
    {{- if and (not .Values.zookeeper.operator.adopt_existing) .Values.tls.zookeeper.enabled }}
    volumes:
      {{- include "pulsar.zookeeper.certs.volumes" . | nindent 4 }}
    {{- end }}
  {{- if and .Values.volumes.persistence .Values.zookeeper.volumes.persistence }}
  persistence:
    data:
      accessModes:
      {{- range .Values.zookeeper.volumes.data.accessModes }}
        - {{ . | quote }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.zookeeper.volumes.data.size }}
{{- include "pulsar.zookeeper.data.storage.class" . | nindent 6 }}
    dataLog:
      accessModes:
      {{- range .Values.zookeeper.volumes.dataLog.accessModes }}
        - {{ . | quote }}
      {{- end }}
      resources:
        requests:
          {{- if .Values.zookeeper.volumes.useSeparateDiskForTxlog }}
          storage: {{ .Values.zookeeper.volumes.dataLog.size }}
          {{- else }}
          storage: "0"
          {{- end }}
{{- include "pulsar.zookeeper.dataLog.storage.class" . | nindent 6 }}
    reclaimPolicy: {{ .Values.zookeeper.volumes.reclaimPolicy | default "Delete" }}
  {{- end }}
  {{- if .Values.istio.enabled }}
  istio:
    enabled: true
    {{- if .Values.istio.dataplaneMode }}
    dataplaneMode: {{ .Values.istio.dataplaneMode }}
    {{- end }}
    {{- if .Values.istio.migration }}
    mtls:
      mode: permissive
    {{- end }}
  {{- end }}
  config:
    serverCnxnFactory: {{ .Values.zookeeper.serverCnxnFactory }}
    # copy from configmap
    custom:
      {{- if .Values.zookeeper.operator.adopt_existing }}
      # if adopting existing zk cluster then also keep existing data/data-log dir setting
      PULSAR_PREFIX_dataDir: /pulsar/data/zookeeper
      {{- if .Values.zookeeper.volumes.useSeparateDiskForTxlog }}
      # use a separate disk for tx log
      PULSAR_PREFIX_dataLogDir: /pulsar/data/zookeeper-datalog
      {{- end }}
      {{- end }}
      # enable zookeeper tls
      {{- if and .Values.tls.enabled .Values.tls.zookeeper.enabled }}
      secureClientPort: "{{ .Values.zookeeper.ports.clientTls }}"
      PULSAR_PREFIX_secureClientPort: "{{ .Values.zookeeper.ports.clientTls }}"
      {{- end }}
      {{- if .Values.zookeeper.reconfig.enabled }}
      PULSAR_PREFIX_reconfigEnabled: "true"
      PULSAR_PREFIX_quorumListenOnAllIPs: "true"
      {{- end }}
      PULSAR_PREFIX_peerType: {{ .Values.zookeeper.peerType }}
{{- with .Values.zookeeper.configData }}
{{ toYaml . | indent 6 }}
{{- end }}
  apiObjects:
    clientService: {}
    headlessService:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}"
    statefulSet:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}"
      updatePolicy:
      {{- if .Values.zookeeper.operator.adopt_existing }}
      {{ .Values.zookeeper.operator.updatePolicy }}
      {{- else }}
        - all
      {{- end }}
      {{- if .Values.zookeeper.operator.adopt_existing }}
      volumeClaimTemplates:
      {{- include "pulsar.zookeeper.data.volumeClaimTemplates" . | nindent 6 }}
      volumeMounts:
      {{- include "pulsar.zookeeper.data.volumeMounts" . | nindent 6 }}
      {{- include "pulsar.zookeeper.certs.volumeMounts" . | nindent 6 }}
      {{- include "pulsar.zookeeper.genzkconf.volumeMounts" . | nindent 6 }}
      {{- end }}
      {{- if and (not .Values.zookeeper.operator.adopt_existing) .Values.tls.zookeeper.enabled }}
      volumeMounts:
      {{- include "pulsar.zookeeper.certs.volumeMounts" . | nindent 6 }}
    {{- end }}
    configMap:
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}"
    pdb:
      {{- if not .Values.zookeeper.pdb.autoCreate }}
      managed: {{ .Values.zookeeper.pdb.autoCreate }}
      {{- end }}
      metadata:
        name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}"
  {{- if or .Values.zookeeper.reconfig.staticServerList .Values.zookeeper.advanced.customStartupCommand }}
  advancedOptions:
    {{- if .Values.zookeeper.reconfig.staticServerList }}
    staticServerList:
      servers:
{{ toYaml .Values.zookeeper.reconfig.staticServerList | indent 8 }}
    {{- end }}
    {{- if .Values.zookeeper.advanced.customStartupCommand }}
    customStartupCommand:
{{ toYaml .Values.zookeeper.advanced.customStartupCommand | indent 6 }}
    {{- end }}
  {{- end }}
  {{- with .Values.zookeeper.customization }}
  customization:
  {{- toYaml . | nindent 2 -}}
  {{- end }}
{{- end }}
