{{- if .Values.zookeeper.customTools.serviceAccount.clusterRole }}
{{- if and .Values.zookeeper.customTools.restore.enable .Values.zookeeper.customTools.serviceAccount.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}-clusterrolebinding"
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}-clusterrole"
subjects:
  - kind: ServiceAccount
    name: {{ template "pulsar.zookeeper.restore.serviceAccount" . }}
    namespace: {{ template "pulsar.namespace" . }}
---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.customTools.restore.component }}-clusterrole"
  labels:
  {{- include "pulsar.standardLabels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - configmap
      - configmaps
    verbs: ["get", "list", "watch"]
  - apiGroups: ["", "extensions", "apps"]
    resources:
      - pods
      - services
      - deployments
      - secrets
      - statefulsets
    verbs:
      - list
      - watch
      - get
      - update
      - create
      - delete
      - patch
---

{{- end }}
{{- end }}
