{{- if .Values.external_dns.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.external_dns.component }}"
  namespace: {{ template "pulsar.namespace" . }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "pulsar.template.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pulsar.template.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "external_dns.serviceAccount" . }}
      volumes:
        {{- range .Values.external_dns.extraMounts }}
        - name: {{ .mountName }}
          {{ .type }}:
            {{ toYaml .mountOpts }}
        {{- end }}

      containers:
      - name: external-dns
        image: "{{ .Values.images.external_dns.repository }}:{{ .Values.images.external_dns.tag }}"
        args:
        - --source=service
        - --source=ingress
        # will make ExternalDNS see only the hosted zones matching provided domain, omit to process all available hosted zones
        - --domain-filter={{ .Values.external_dns.domain_filter }}
        - --provider={{ .Values.external_dns.provider }}
        {{- if eq .Values.external_dns.provider "google" }}
        {{- if .Values.external_dns.providers.google.project }}
        # Use this to specify a project different from the one external-dns is running inside
        - --google-project={{ .Values.external_dns.providers.google.project }}
        {{- end }}
        {{- end }}
        {{- if eq .Values.external_dns.provider "aws" }}
        - --aws-zone-type={{ .Values.external_dns.providers.aws.zoneType }}
        {{- end }}
        # would prevent ExternalDNS from deleting any records, omit to enable full synchronization
        - --policy={{ .Values.external_dns.policy }}
        - --registry={{ .Values.external_dns.registry }}
        - --txt-owner-id={{ .Values.external_dns.owner_id }}
        volumeMounts:
          {{- range .Values.external_dns.extraMounts }}
          - name: {{ .mountName }}
            mountPath: {{ .mountPath }}
          {{- end }}
        env:
          {{- range .Values.external_dns.extraEnv }}
          - name: {{ .name }}
            value: {{ .value }}
          {{- end }}
      securityContext:
      {{- with .Values.external_dns.securityContext }}
      {{ toYaml . | indent 6 }}
      {{- end }}
{{- end }}
