components:
  pulsar_manager: false
  # disable auto recovery
  autorecovery: false
  functions: false

monitoring:
  prometheus: false
  grafana: false
  node_exporter: false
  alert_manager: false
  loki: false

volumes:
  persistence: false

# disabled AntiAffinity
affinity:
  anti_affinity: false

zookeeper:
  replicaCount: 1

bookkeeper:
  replicaCount: 3
  serviceAccount:
    use: false
  configData:
    diskUsageThreshold: "0.999"
    diskUsageWarnThreshold: "0.999"
    PULSAR_PREFIX_diskUsageThreshold: "0.999"
    PULSAR_PREFIX_diskUsageWarnThreshold: "0.999"
  serviceAccount:
    name: "test-bookie-sa"

broker:
  replicaCount: 1
  serviceAccount:
    use: false
  configData:
    ## Enable `autoSkipNonRecoverableData` since bookkeeper is running
    ## without persistence
    autoSkipNonRecoverableData: "true"
    # storage settings
    managedLedgerDefaultEnsembleSize: "1"
    managedLedgerDefaultWriteQuorum: "1"
    managedLedgerDefaultAckQuorum: "1"
  serviceAccount:
    name: "test-broker-sa"

autorecovery:
  serviceAccount:
    use: false

proxy:
  replicaCount: 1
  serviceAccount:
    use: false
  serviceAccount:
    name: "test-proxy-sa"

toolset:
  useProxy: false

pulsar_detector:
  serviceAccount:
    use: false

prometheus:
  serviceAccount:
    use: false