components:
  pulsar_manager: false
  # disable auto recovery
  autorecovery: false

monitoring:
  prometheus: false
  grafana: false
  node_exporter: false
  alert_manager: false
  loki: false

volumes:
  persistence: false

# disabled AntiAffinity
affinity:
  anti_affinity: false

zookeeper:
  replicaCount: 1

bookkeeper:
  replicaCount: 3
  configData:
    diskUsageThreshold: "0.999"
    diskUsageWarnThreshold: "0.999"
    PULSAR_PREFIX_diskUsageThreshold: "0.999"
    PULSAR_PREFIX_diskUsageWarnThreshold: "0.999"
  metadata:
    image:
      repository: streamnative/sn-pulsar
      tag: 2.6.2.3

broker:
  replicaCount: 1
  configData:
    ## Enable `autoSkipNonRecoverableData` since bookkeeper is running
    ## without persistence
    autoSkipNonRecoverableData: "true"
    # storage settings
    managedLedgerDefaultEnsembleSize: "1"
    managedLedgerDefaultWriteQuorum: "1"
    managedLedgerDefaultAckQuorum: "1"

proxy:
  replicaCount: 1

toolset:
  useProxy: false

# use pulsar image

images:
  zookeeper:
    repository: streamnative/sn-pulsar
    tag: 2.6.2.3
  bookie:
    repository: streamnative/sn-pulsar
    tag: 2.6.2.3
  autorecovery:
    repository: streamnative/sn-pulsar
    tag: 2.6.2.3
  broker:
    repository: streamnative/sn-pulsar
    tag: 2.6.2.3
  functions:
    repository: streamnative/sn-pulsar
    tag: 2.6.2.3
  proxy:
    repository: streamnative/sn-pulsar
    tag: 2.6.2.3

pulsar_metadata:
  image:
    repository: streamnative/sn-pulsar
    tag: 2.6.2.3