components:
  pulsar_manager: false
  # disable auto recovery
  autorecovery: false
  sql_worker: false

monitoring:
  prometheus: false
  grafana: false
  node_exporter: false
  alert_manager: false
  loki: false

# disabled AntiAffinity
affinity:
  anti_affinity: false

zookeeper:
  replicaCount: 1

bookkeeper:
  replicaCount: 3
  configData:
    diskUsageThreshold: "0.999"
    diskUsageWarnThreshold: "0.999"
    PULSAR_PREFIX_diskUsageThreshold: "0.999"
    PULSAR_PREFIX_diskUsageWarnThreshold: "0.999"

broker:
  replicaCount: 1
  configData:
    ## Enable `autoSkipNonRecoverableData` since bookkeeper is running
    ## without persistence
    autoSkipNonRecoverableData: "true"
    # storage settings
    managedLedgerDefaultEnsembleSize: "1"
    managedLedgerDefaultWriteQuorum: "1"
    managedLedgerDefaultAckQuorum: "1"

proxy:
  replicaCount: 1

toolset:
  useProxy: false

# enable TLS
tls:
  enabled: true
  zookeeper:
    enabled: true

# disable cert manager
certs:
  internal_issuer:
    enabled: false