{{- if and .Values.components.toolset .Values.toolset.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "pulsar.toolset.serviceAccount" . }}
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.toolset.component }}
  {{- if .Values.toolset.serviceAccount.annotations }}
  annotations: {{- toYaml .Values.toolset.serviceAccount.annotations | nindent 4 }}
  {{- end }}
{{- end }}