{{- if .Values.components.toolset }}
apiVersion: v1
kind: Service
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.toolset.component }}"
  namespace: {{ template "pulsar.namespace" . }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    component: {{ .Values.toolset.component }}
spec:
  clusterIP: None
  selector:
    {{- include "pulsar.matchLabels" . | nindent 4 }}
    component: {{ .Values.toolset.component }}
{{- end }}
