{{- if and .Values.components.zookeeper }}
kind: {{ template "pulsar.zookeeperRoleKind" . }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.rbac.name }}-operator'
  {{- if not .Values.zookeeper.serviceAccount.clusterRole }}
  namespace: {{ template "pulsar.namespace" .}}
  {{- end }}
  labels:
    {{- include "pulsar.standardLabels" . | nindent 4 }}
    components: {{ .Values.zookeeper.component }}
rules:
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - zookeeper.streamnative.io
    resources:
      - zookeeperclusters
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - zookeeper.streamnative.io
    resources:
      - zookeeperclusters/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - zookeeper.streamnative.io
    resources:
      - zookeeperclusters/finalizers
    verbs:
      - update
  - apiGroups:
      - zookeeper.streamnative.io
    resources:
      - zookeeperclusters/finalizers
    verbs:
      - update
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch  
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - list
      - update
  - apiGroups:
      - networking.istio.io
    resources:
      - '*'
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - security.istio.io
    resources:
      - '*'
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
kind: {{ template "pulsar.zookeeperRoleBindingKind" . }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: '{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.rbac.name }}-operator'
  {{- if not .Values.zookeeper.serviceAccount.clusterRole }}
  namespace: {{ template "pulsar.namespace" . }}
  {{- end }}
subjects:
- kind: ServiceAccount
  name: '{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.serviceAccount.name }}'
  namespace: {{ template "pulsar.namespace" . }}
roleRef:
  kind: {{ template "pulsar.zookeeperRoleKind" . }}
  name: '{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.rbac.name }}-operator'
  apiGroup: rbac.authorization.k8s.io
{{- end }}