name: Precommit - SN-Platform Helm Chart (Basic Template)
on:
  pull_request:
    branches:
      - '*'
    paths:
      - 'charts/sn-platform/**'
      - '.github/workflows/sn-platform.yml'
jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch history
        run: git fetch --prune --unshallow

      - name: Lint chart
        id: lint
        uses: helm/chart-testing-action@v1.0.0
        with:
          command: lint

      - name: Install Helm
        uses: azure/setup-helm@v3
        id: install
        with:
          version: 3.7.2

      - name: Install chart
        run: |
          helm dependency update charts/sn-platform
          helm template pulsar -f .ci/clusters/values-datadog.yaml charts/sn-platform
